<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1> Students </h1><h3><a href="../" style="text-decoration: none;">Home</a></h3>

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${studentTemp}">

            <td th:text="${student.sName}"></td>
            <td th:text="${student.sEmail}"></td>

        </tr>
        </tbody>
    </table>



</div>
</body>
</html>