<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1> Courses </h1><h3><a href="../" style="text-decoration: none;">Home</a></h3>

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Instructor</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courseTemp}">

            <td th:text="${course.cName}"></td>
            <td th:text="${course.cInstructorName}"></td>


        </tr>
        </tbody>
    </table>

</div>
</body>
</html>